body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  --primary-color: #bc5b57;
}

.container {
  height: 100%;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(5, 1fr);
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/6;
  background-color: var(--primary-color);
  color: white;
  padding: 20px 80px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar .sidebar-header {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;

  > * {
    align-self: center;
    margin: 0;
  }

  span {
    font-size: 3.5rem;
  }
}

.item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40px auto;
  padding: 12px;
  gap: 24px;

  span:first-of-type {
    text-align: center;
    font-size: 1.75rem;
  }

  > * {
    align-self: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
}

.header {
  grid-column: 2/3;
  padding: 24px 64px 24px 48px;
  display: grid;
  row-gap: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;

  > * {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    grid-row: 1fr 1fr;
  }

  .search-input {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px auto;

    > * {
      align-self: center;
    }

    input {
      border-radius: 20px;
      outline: none;
      border: none;
      background-color: #e2e8f0;
      font-size: 16px;
      height: 40px;
      padding: 0 24px;
    }
  }

  .profile-section {
    display: flex;
    gap: 24px;
    grid-auto-flow: column;
    justify-content: end;

    > * {
      align-self: center;
    }

    .profile-picture {
      height: 54px;
    }

    .profile-username {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .user-details {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-row: repeat(3, 1fr);
    column-gap: 16px;
  }

  .user-details .profile-picture {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .user-details .greeting {
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bold;
    align-self: flex-end;
  }

  .user-details .username {
    grid-column: 2/3;
    grid-row: 2/4;
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
  }

  .header-actions {
    display: grid;
    align-self: center;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 24px;
    grid-template-columns: repeat(3, 120px);

    button {
      background-color: var(--primary-color);
      font-size: 1rem;
      color: white;
      font-weight: 600;
      padding: 16px 24px;
      border-radius: 32px;
      border: none;
      outline: none;
      cursor: pointer;
    }

    button:hover {
      opacity: 0.8;
    }
  }
}

.content {
  grid-column: 2/3;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 40px 20px 20px;
  gap: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.misc-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.card {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  display: grid;
  align-content: space-between;
  min-height: 180px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.card.project-card {
  border-left: 8px solid var(--primary-color);
  .card-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 32px;
  }

  .footer-action {
    width: 24px;
    cursor: pointer;
  }

  > .card-body > div {
    color: #7a7a7a;
  }
}

.card.misc-card {
  .card-body {
    display: grid;
    gap: 24px;
  }

  .trending-item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 54px auto;
    align-items: center;
    gap: 16px;

    b {
      color: black;
    }

    .avatar {
      height: 54px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .announcement-item {
    > div {
      color: #7a7a7a;
    }
  }
}
